@import '@styles/mq';

.portfolio {
    position: relative;
    background-color: #111;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    overflow: auto;
    height: 100vh;

    @include min-screen(mq('tablet')) {
        grid-template-columns: 1fr 1fr;
    }

    @include min-screen(mq('tablet-large')) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .item {
        position: relative;
        overflow: hidden;
        min-height: 20rem;
        background-color: #000;
        display: flex;
        flex-direction: column;

        .spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .image {
            transition: 0.2s ease-in-out;
        }

        .container {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            .icon {
                border-radius: 5rem;
                background-color: #fff;
                border: none;
                padding: 0.5rem;
                line-height: 1;
                position: absolute;
                left: 45%;
                top: 42%;
                transform: translate(-50%, -50%);
                transform: scale(0);
                transition: 0.2s ease-in-out;
                z-index: 1;
                cursor: pointer;

                svg {
                    fill: #d02026;
                }

                &:hover {
                    transform: scale(1.2);
                }
            }

            &::after {
                background-color: rgba(0, 0, 0, 0.75);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: -100%;
                content: '';
                z-index: 0;
                transition: 0.2s ease-in-out;
            }

            .text {
                display: flex;
                flex-direction: column;
                position: absolute;
                left: 1.7rem;
                bottom: -2rem;
                z-index: 1;
                transition: 0.2s ease-in-out;
                transition-delay: 0.2s;
                opacity: 0;

                .title {
                    font-weight: 500;
                    font-size: 1.2rem;
                    color: #fff;
                    margin-bottom: 0.5rem;
                }

                .subs {
                    display: flex;
                    flex-direction: row;

                    span {
                        padding: 3px 6px;
                        display: block;
                        background-color: #fff;
                        border-radius: 4rem;
                        color: #111;
                        display: block;
                        font-size: 10px;
                        text-transform: uppercase;
                        margin-right: 3px;
                    }
                }
            }
        }

        &:hover {
            .image {
                transform: scale(1.1) translate(2%, 4%);
                filter: grayscale(100%);
            }
            .icon {
                transform: scale(1);
            }
            .text {
                transition-delay: 0;
                bottom: 1.7rem;
                opacity: 1;
            }
            .container {
                &::after {
                    left: 0;
                }
            }
        }
    }
}
